@use "../00-settings/variables";
@use "../01-tools/mixins" as mix;
@use "../01-tools/querys" as querys;

.navbar {
  position: sticky;
  top: 1.5rem;
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;

  @include querys.mobile {
    padding: 1.5rem;
  }

  &__content {
    display: block;
    transition: max-height .3s ease-in-out;


    @include querys.mobile {
      display: none;
    }

    &--active {
      display: block;
      max-height: 200px;
    }
  }

  &__items {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;

      a {
        & .navbar__svg {
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;

          @include querys.mobile {
            display: none;
            position: absolute;
            right: 100%;
          }

        }

        &:hover .navbar__svg {
          display: block;

          & path {
            stroke-dashoffset: 60;
            stroke-dasharray: 60;
            animation: 500ms cubic-bezier(0.27, 0.22, 0.44, 1.5) 0ms 1 normal both running strokeanimation;
            
          }
        }
      }
    }

    &>li:first-child {
      margin-right: auto;
    }

    @include querys.mobile {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

  }

  &__hamb {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;

    & svg {
      display: block;
    }

    @include querys.mobile {
      display: block;
    }
  }
}

a.router-link-active.router-link-exact-active svg {
  display: block;

}

.router-link-active.router-link-exact-active {
  font-weight: bold;
}

@keyframes strokeanimation {
  100% {
    stroke-dashoffset: 0;
  }
}