@use "../00-settings/variables";
@use "../01-tools/mixins" as mix;
@use "../01-tools/querys" as querys;

.container__projects__presentation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin-top: 7rem;
  flex-wrap: wrap;

  @include querys.mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 1.5rem;
    }

    p {
      width: 100%;
    }

  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;

  &__tags,
  &__urls {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    span,
    a {
      font-size: 1rem;
      background-color: variables.$background-color-closer;
      padding: .5rem;
      border-radius: .5rem;

      &:hover {
        background-color: darken(variables.$background-color-closer, 14%);
      }
    }


  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    justify-content: space-between;
    height: 380px;
    background-color: variables.$design;

    &__tag {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: .2rem;

      span {
        font-size: .8rem;
        background-color: var(--text-white);
        border-radius: .5rem;
        padding: .2rem;
      }
    }

    p {
      visibility: hidden;
      opacity: 0;
      font-size: .9rem;
      transition: opacity 0.3s ease;
      text-overflow: ellipsis;
      //white-space: pre;
      width: 100%;
      overflow: hidden;
    }

    span {
      visibility: hidden;

    }



    button {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      button,
      p,
      span {
        opacity: 1;
        visibility: visible;
      }
    }

    @for $i from 1 through 90 {
      &:nth-child(#{$i}) {
        @include querys.mobile {
          margin-top: 0;
        }
      }
    }

    &__svg__title {
      display: none;
      position: absolute;
    }

    &:hover .projects__box__svg__title {
      display: block;

      path {
        stroke-dashoffset: 60;
        stroke-dasharray: 60;
        animation: 500ms cubic-bezier(0.27, 0.22, 0.44, 1.5) 250ms 1 normal both running strokeanimation;
      }
    }

    &__splend {
      display: none;
      position: absolute;
      transform: rotate(180deg);
      top: -35px;
      right: -35px;
      z-index: 1;
    }

    &:hover .projects__box__splend {
      display: block;

      path {
        stroke-dashoffset: 60;
        stroke-dasharray: 60;
        animation: 500ms cubic-bezier(0.27, 0.22, 0.44, 1.5) 1 250ms normal both running strokeanimation;
      }
    }

  }

  &__img {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.5rem;
    justify-content: space-between;
    height: 380px;
    background-color: variables.$design;
    filter: brightness(0.4);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .5rem;

    }

    @for $i from 1 through 90 {
      &:nth-child(#{$i}) {
        margin-top: ((($i - 1) % 4) - 3) * 1.5rem;

        @include querys.mobile {
          margin-top: 0;
        }
      }
    }

    &:hover {
      filter: brightness(1);
      cursor: pointer;

      button {
        opacity: 1;
        visibility: visible;
      }

    }
  }

  &__legend {
    &__title {
      font-weight: 700;
      font-size: 1rem;
      color: var(--text-color);
    }

  }
}