@use '../00-settings/variables';
@use '../01-tools/mixins' as mix;
@use '../01-tools/querys' as querys;

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  &__box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: .5rem;
    padding: 1.5rem;
    overflow: hidden;
    background-color: #f2f2f2;
    h3{
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease;
    }
    button{
      margin-top: -3rem;
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s ease;
    }
    &:hover{
    cursor: pointer;
     button, h3{
      opacity: 1;
      visibility: visible;
    }
  }
  }
  
}