@use '../00-settings/variables';
@use '../01-tools/mixins' as m;
@use '../01-tools/querys' as q;

.about-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5em;
  @include m.lg;
  margin-top: 4em;
  margin-bottom: 2em;

  @include q.mobile {
    flex-direction: column;
    margin: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 70vh;
    justify-content: center;
    @include q.mobile {      
      width: 100%;
    }

  }
  &--suppertitle{
    font-size: 1.5em;
    font-weight: variables.$bold;
    color: variables.$text-color-primary;
    @include q.mobile {      
      width: 100%;
    }
  }
  &--title {
    font-size: 3em;
    font-weight: variables.$bold;
    color: variables.$text-color-primary;
    width: 22ch;
    line-height: 1.2;
    
    @include q.mobile {      
      width: 100%;
    }
    
  }

}
