@use '../00-settings/variables';
@use '../01-tools/mixins' as m;
@use '../01-tools/querys' as q;
.experience{
  @include m.lg;
  margin-top: 4em;
  margin-bottom: 2em;

  @include q.mobile{    
    margin: 1em;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
  }

  &--title {
    font-size: 1.5em;
    font-weight: bold;
    color: variables.$text-color-primary;
  }

  &--description {
    color: variables.$text-gray;
    max-width: 50ch;
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}