@use '../00-settings/variables';
@use '../01-tools/mixins' as m;
@use '../01-tools/querys' as q;

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-bottom: 2em;
  @include m.lg;

  @include q.mobile {
    margin: 1em;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
  }

  &--title {
    font-size: 1.5em;
    font-weight: bold;
    color: variables.$text-color-primary;
  }

  &--description {
    color: variables.$text-gray;
    max-width: 50ch;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
    gap: 1.5em;
    @include m.lg
  }

  &__card--primary {
    background-color: variables.$secondary-color-light;
    border-radius: 1em;
    padding: 2em;
    display: flex !important;
    flex-direction: column;
    height: 230px;
    justify-content: flex-end;
    gap: 1em;

    .projects__card--title {
      font-size: 1.25em;
      font-weight: bold;
      color: variables.$text-color-primary;
    }

    .projects__card--tag {
      color: variables.$text-color-primary;
      border-radius: 1em;
      padding: .5em 1em;
      max-width: fit-content;
      border: 0.125em solid variables.$primary-color;
    }

    .projects__card__footer {
      display: flex;
      gap: 1em;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__card--secondary {
    background-color: variables.$primary-color;
    border-radius: 1em;
    padding: 2em;
    display: flex !important;
    height: 230px;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;

    .projects__card--title {
      font-size: 1.25em;
      font-weight: bold;
      color: variables.$text-color-secondary;
    }

    .projects__card--tag {
      color: variables.$text-color-secondary;
      border-radius: 1em;
      padding: .5em 1em;
      max-width: fit-content;
      border: 0.125em solid variables.$secondary-color;
    }

    .projects__card__footer {
      display: flex;
      gap: 1em;
      align-items: center;
      justify-content: space-between;
    }

  }
}

.slick-initialized .slick-slide {
  margin-left: 1em;
  margin-right: 1em;
}
