@use '../00-settings/variables';

html::-webkit-scrollbar {
  width: 2.5em;
}

html::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 1.5em;
  border: .9em solid transparent;
  background-color: variables.$primary-color;
  background-clip: padding-box;
}