@use "../00-settings/variables";
@use "../01-tools/mixins" as mix;
@use "../01-tools/querys" as q;

.navbar {
  position: fixed;
  z-index: 2;
  padding: 1.5em;
  max-width: 1600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1em);
  @include q.mobile {      
   display: none;
  }
  &__brand {
    font-size: 1.5em;
    font-family: variables.$bold;
    color: variables.$text-color;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: variables.$secondary-color;
      transition: width 0.3s;
    }
  }

  &__link {
    color: variables.$text-color;
  }
}